@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 1.8;
  color: #878C9F;
  max-width: 100vmax;
}

body.dark-body {
  background-color: #111;
}

#navegar {
  background: linear-gradient(#092421, #163834, #0d6d58);
}

.dark-color {
  color: #292929;
}

.yellow-bg {
  background-color: #f8c964;
}

.yellow-after:after {
  background-color: #f8c964;
}

.blue-bg {
  background-color: #2fb3cd;
}

.blue-after:after {
  background-color: #2fb3cd;
}

.white-bg {
  background-color: #fff;
}

.btn {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 12px 22px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-theme {
  color: #fff;
}

.btn-theme:focus,
.btn-theme:active,
.btn-theme:hover {
  color: #fff;
  background: #111;
  text-decoration: none;
}

.home {
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-image: url("./img/fondo.jpg");
  background-repeat: no-repeat;
  z-index: 1;
}

#contenido2 {
  width: 50vw;
  position: static;
  top: 10%;
  z-index: 1;
}

.contenido1 {
  width: 50vw;
  height: 100vh;
}

#t1 {
  display: inline-block;
  right: 0;
  position: relative;
  top: 20%;
  margin-left: 38%;
  font-family: "Trirong";
  font-weight: bold;
  font-size: 70px;
  z-index: 2;
  letter-spacing: 5rem;
  text-shadow: 2px 2px 4px #dde785;
  color: rgb(233, 233, 6);
}

#t2 {
  display: inline-block;
  position: relative;
  top: 20%;
  margin-left: 40%;
  font-family: "Trirong";
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 4rem;
  color: rgb(233, 233, 6);
  text-shadow: 2px 2px 4px #88e785;
  z-index: 2;
}

#t3 {
  display: inline-block;
  position: relative;
  top: 50%;
  font-family: "Trirong";
  font-weight: bold;
  font-size: 30px;
  color: rgb(49, 175, 68);
  z-index: 1;
}

#t4 {
  display: block;
  position: relative;
  top: 50%;
  font-family: "Trirong";
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px 4px #d9e4d9;
  color: rgb(53, 49, 49);
}

#t {
  position: relative;
  font-family: "Trirong", serif;
  font-weight: lighter;
  margin-left: 74rem;
  top: 20%;
  font-size: 80px;
  letter-spacing: 2rem;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  transform: rotate(360deg);
  text-shadow: 2px 2px 4px #000000;
  color: #4b6d0d;
  z-index: 2;
}

#imagen1 {
  width: 97%;
  height: 100%;
}

#imagen {
  width: 60vw;
  height: 100vh;
}

.about {
  width: 100vw;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.page-title {
  background-image: url(/img/8692d6_19c92df6777f416d9ba2303c824562ac_mv2.webp);
  background-repeat: no-repeat;
}

.page-title {
  background-size: cover;
  padding: 50px;
  position: relative;
}

.page-title:after {
  content: "";
  width: 2px;
  top: 50px;
  bottom: 50px;
  background: #fff;
  left: 45px;
  z-index: 1;
  position: absolute;
}

.page-title:before {
  content: "";
  height: 2px;
  right: 50px;
  bottom: 50px;
  left: 45px;
  background: #fff;
  z-index: 1;
  position: absolute;
}

#titulo {
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 10%;
}

.v-center-box {
  min-height: 100vmin;
  display: flex;
  align-items: flex-end;
}

.about-text h3 {
  font-weight: 600;
  font-size: 22px;
  margin: 0 0 10px;
}

.about-text {
  text-align: justify;
  padding: 0;
  margin-left: 0;
}

.sobre {
  text-align: justify;
  margin: 0;
  padding: 0;
  width: 90%;
}

.section-titel {
  margin: 0 0 40px;
}

.section-titel h6 {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 1;
  padding: 3px 10px;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 11px;
  margin: 2% 2% 8px;
  text-transform: uppercase;
}

.section-titel h6:after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  z-index: -1;
  transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
}

.section-titel h2 {
  font-size: 45px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 10px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 2%;
}

.section-titel h2:after {
  height: 8px;
  width: 50px;
  bottom: -4px;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  z-index: -1;
}

.sub-title {
  position: relative;
  border-bottom: 1px solid #ddd;
}

.sub-title h2 {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 10px;
}

.sub-title h2:after {
  height: 4px;
  width: 50px;
  bottom: -2px;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  z-index: 1;
  transform: skew(-36deg);
  -webkit-transform: skew(-36deg);
}

.feature-box {
  position: relative;
  padding-left: 20px;
  margin-right: 2%;
}

.feature-box .icon {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 29px;
}

.feature-box .icon:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.4;
}

.feature-box h5 {
  font-size: 18px;
  margin: 0;
  padding: 0 0 10px;
  font-weight: 500;
}

.feature-box p {
  font-size: 14px;
  margin: 0;
}

.image {
  width: 100%;
  height: 70vh;
  padding: 2px 20px;
}

#column {
  width: 20%;
}

.st-title {
  padding: 0px 0px 10px;
}/*# sourceMappingURL=style.css.map */